.about-me {
  height: 75%;
  width: 70%;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px 60px;
  border-radius: 7px;
  overflow-y: auto;
  color: white;
}

.about-me-block {
  padding: 0px 30px;
}

.about-me .title {
  font-size: 1.5rem;
  line-height: 1.334;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.about-me .content {
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.about-me .chip {
  font-size: 0.8125rem;
}

@media only screen and (max-width: 600px) {
  .about-me {
    height: 66%;
    width: 79%;
    padding: 2% 3%;
  }

  .about-me-block {
    padding: 0px 15px;
  }

  .about-me .title {
    font-size: 1rem;
    line-height: 1;
    color: white;
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .about-me .content {
    font-size: 0.8rem;
    font-family: monospace;
    font-weight: 600;
    /* letter-spacing: 0.1rem; */
  }
}
