.AboutMe {
  height: 75%;
  width: 70%;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px 60px;
  border-radius: 7px;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .AboutMe {
    height: 66%;
    width: 79%;
    padding: 2% 3%;
  }
}
