.App {
  /* text-align: center; */
}

.App-bg {
  background-image: url("/src//assets//images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.hello-shaking {
  animation: shaking 0.15s infinite;
  /* animation-iteration-count: 10; */
}

@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
